body, h1, h2, h3, p { font-family: "Lato", sans-serif }
#legales {
  width: 845px;
  height: auto;
  margin-left: 54px;
  float: left;
  font-size: 10px;
  font-weight: lighter;
}
.derechos {
  font-size: 12px;
  font-weight: bold;
}

@media (min-width: 1587px) {
  #cuerpo {
    position: inherit !important;
    top: 0 !important;
  }
}

.sigin_link { font-style: italic; font-size: 16px; text-decoration: underline }

a:link {
  color: #1563A8;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: #2096DD;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
  color: #000000;
}
#contenedor {
  width: 960px;
  height: auto;
  margin: auto;
}
body {
  margin: 0;
  font-size: 12px;
  color: #69737b;
}
#cuerpo {
  width: 845px;
  height: auto;
  margin: 0 auto;
  font-size: 14px;
  text-align: left;
  position: relative;
  top: -11px;
}
#banner {
  width: 842px;
  height: 318px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
}
#contenidopromo {
  width: 490px;
  height: auto;
  margin-right: 10px;
  float: left;
}
#contenido {
  width: 842px;
  height: auto;
  float: left;
}
#contenido_tarifas {
  width: 490px;
  height: auto;
  margin-right: 10px;
  float: left;
}
#contenido_tarifas > table > tbody > tr > th {
  background: #00579e;
  color: #fff;
  text-align: center;
}

table.table > thead { background-color: #0d304f; color:#fff; } 
.before { text-decoration:line-through; }

table.bigText { font-size: 24px; }

#contenido_lateral_der {
  width: 330px;
  height: auto;
  float: right;
  margin-left: 12px;
}
.mensajes p {
  text-align: left;
}
.titulos_destacados {
  font-weight: bold;
  font-size: 1.4em;
  color: #0d304f;
}

.copy_superior { color: #2a2a6c; font-size: 1.2em; }
/******* FORM ********/
#canvas_booking {
  height: auto;
  width: 326px;
  position: relative;
  background-color: #f5f5f5;
  font-size: 12px;
  text-align: left;
}
#canvas_booking select,
#canvas_booking input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}
#canvas_booking select {
  width: 140px;
}
#canvas_booking .header {
  height: 41px;
  width: 326px;
  background-color: #005aa3;
}

#canvas_booking > .header > p { 
  color: #fffcf6;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size:19px;
}
#canvas_booking .cWhite {
  clear: both;
  margin-top: 10px;
}
#canvas_booking .cBlue {
  clear: both;
}
#canvas_booking .mc_campos_line {
  padding: 8px;
  display: inline-block;
}
#canvas_booking .line_sub {
  width: 100px;
  float: left;
}
#canvas_booking .line_sub select {
  width: 45px;
}
#canvas_booking .btnInput {
  width: 210px;
  height: 15px;
  float: left;
}
#canvas_booking input.datepicker {
  width: 130px;
  padding:3px;
  background-image: url('../images/iconcal.jpg');
  background-repeat: no-repeat;
  background-position: right;
  border: 1px solid #999999;
}
#canvas_booking #inputSalida {
  float: left;
}
#canvas_booking #inputRegreso {
  float: left;
  margin-left: 10px;
}
#canvas_booking .btnInput .tText {
  width: 120px;
  float: left;
  font-size: 10px;
}
#canvas_booking .btnSubmit {
  width: 179px;
  clear: both;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  cursor: pointer;
}
.errorMsg {
  color: red;
}
.hidden {
  display: none;
}
.btn-primary {
  background: #cba303;
  color: #fff;
  border: none;
  width: 100%;
}
.btn-primary:hover,
.btn-primary:active {
  background: #9c6d01;
}
#coupon {
  width: 100%;
  margin-bottom: 10px;
}
.ui-widget {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}
#ui-datepicker-div {
  display: none;
}
select,
input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
select {
  width: 160px;
}
.line_sub {
  width: 140px;
  margin-right: 2px;
  float: left;
}
.line_sub select {
  width: 40px;
}
.btnInput {
  width: 210px;
  height: 15px;
  float: left;
}
.btnInput input {
  width: 60px;
  float: left;
  margin-top: 5px;
}
.btnInput .tText {
  width: 120px;
  float: left;
  font-size: 10px;
}
#inputRegreso {
  margin-left: 20px;
}
#destino1 {
  margin-left: 15px;
  float: left;
}
#destino2 {
  float: left;
  margin-left: 10px;
}
/** TABS **/
.tab_content {
  clear: both;
  width: 100%;
}
.tab_content .colmenu {
  width: 76px;
  float: left;
}
.tab_content .colmenu .tit_origem {
  background-color: #1d3189;
  font-size: 16px;
  width: 102px;
  color: #FFF;
  height: 46px;
  line-height: 46px;
  text-align:center;
}
.tab_content .colmenu ul {
  margin: 0;
  padding: 0;
}
.tab_content .colmenu li {
  width: 88px;
  height: 50px;
  list-style: none;
  display: block;
}
.tab_content .colmenu li a {
  width: 102px;
  height: 50px;
  line-height: 50px;
  background-repeat: no-repeat;
  background-position: 20px 20px;
  border: solid 1px #dadada;
  background-color: #f3f3f3;
  text-indent: 3px;
  display: block;
  color: #696969;
  font-size: 15px;
  text-align: center;
}
.tab_content .colmenu li a:hover {
  border: solid 1px #0060aa;
  background-color: #0060aa;
  display: block;
  color: #fff;
}
.tab_content .colmenu li a.active {
  border: solid 1px #0060aa;
  background-color: #0060aa;
  display: block;
  color: #fff;
}
.tab_content .colmenu li:hover {
  background-image: url('../images/btn_active.png');
  background-position: right 16px;
  background-repeat: no-repeat;
  width: 113px;
  height: 50px;
  list-style: none;
  display: block;
}
.tab_content .colmenu li.active {
  background-image: url('../images/btn_active.png');
  background-position: right 16px;
  background-repeat: no-repeat;
  width: 113px;
  height: 50px;
  list-style: none;
  display: block;
}
.tab_content .coltabcontent {
  width: 362px;
  float: left;
  margin-left: 46px;
}
.coltabcontent table th,
.coltabcontent table td {
  height: 28px;
  vertical-align: middle;
}
.coltabcontent table th {
  color: #004199;
  font-weight: bold;
  font-size: 14px;
}
.coltabcontent sup {
  vertical-align: super;
  font-size: 10px;
}
.coltabcontent table td {
  border-bottom: #e0e2e9 solid 1px;
  font-size: 14px;
  color: #000;
}
.coltabcontent table tr td.tex_col2 {
  text-decoration: line-through;
  text-align: center;
  padding: 8px 0;
}
.coltabcontent table tr td.tex_col3 {
  text-align: center;
}

#cabezote {
  background-color: #0d304f;
  width: 100%;
  height: 110px;
}
#header_logo {
  margin-top: 27px;
  margin-left: 40px;
  float: left;
}
.logos {
  float: right;
  margin-right: 40px;
  margin-top: 26px;
}
#copacom {
  float: inherit;
  margin: 7px 0px 0 0;
}
#ventas {
  width: 116px;
  height: 90px;
  float: inherit;
  margin: 5px 10px 0 0;
}
#call {
  width: 76px;
  height: 90px;
  float: inherit;
  margin: 5px 10px 0 0;
}
#esposible {
  width: 960px;
  height: 100px;
  float: left;
  margin-top: 40px;
}
#hub {
  width: 180px;
  height: 63px;
  float: left;
  margin: 5px 0 0 0;
}
#copaair {
  width: 180px;
  height: 63px;
  float: right;
  margin: 5px 0 0 0;
}

